<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author: ${authors}" >
        <td th:text="${author.id}" ></td>
        <td th:text="${author.firstName}" ></td>
        <td th:text="${author.secondName}" >Publisher</td>
    </tr>
    </tbody>
</table>
</body>
</html>